In [14]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

2.0.3

In [3]:
housing_df = pd.read_csv(r'C:\Users\inris\Dev\ml-zoomcamp\cohorts\2023\01-intro\data\housing.csv')

In [5]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
columns_with_missing_values = housing_df.columns[housing_df.isna().any()].tolist()
print(columns_with_missing_values)

['total_bedrooms']

In [9]:
num_unique_values = housing_df['ocean_proximity'].nunique()
print(num_unique_values)

5

In [10]:
# Assuming df is the name of your DataFrame
avg_value_near_bay = housing_df.loc[housing_df['ocean_proximity'] == 'NEAR BAY', 'median_house_value'].mean()
print(avg_value_near_bay)

259212.31179039303

In [11]:
housing_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [12]:
mean_total_bedrooms = housing_df['total_bedrooms'].mean()
housing_df['total_bedrooms'].fillna(mean_total_bedrooms, inplace=True)

In [13]:
housing_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,419.266592,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,297.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,438.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [15]:
df_islands = housing_df[housing_df['ocean_proximity'] == 'ISLAND']
selected_columns = df_islands[['housing_median_age', 'total_rooms', 'total_bedrooms']]
X = selected_columns.values
XTX = X.T.dot(X)
from numpy.linalg import inv
XTX_inv = inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inv.dot(X.T).dot(y)
last_element = w[-1]
print(last_element)

5.699229455065578