In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [37]:
cars_df = pd.read_csv(r'data/data.csv')

# Renaming 'MSRP' column to 'price'
cars_df = cars_df.rename(columns={"MSRP": "price"})

cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  price              11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [38]:
selected_columns = [
    "Make", "Model", "Year", "Engine HP", "Engine Cylinders", 
    "Transmission Type", "Vehicle Style", "highway MPG", "city mpg"
]
cars_features = cars_df[selected_columns]

In [39]:
cars_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine HP          11845 non-null  float64
 4   Engine Cylinders   11884 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Vehicle Style      11914 non-null  object
 7   highway MPG        11914 non-null  int64
 8   city mpg           11914 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 837.8+ KB

In [33]:
cars_features = cars_features.columns.str.replace(' ', '_').str.lower()

In [41]:
# Filling missing values with 0
cars_features.fillna(0, inplace=True)

C:\Users\inris\AppData\Local\Temp\ipykernel_17988\453819383.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_features.fillna(0, inplace=True)

In [42]:
cars_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine HP          11914 non-null  float64
 4   Engine Cylinders   11914 non-null  float64
 5   Transmission Type  11914 non-null  object
 6   Vehicle Style      11914 non-null  object
 7   highway MPG        11914 non-null  int64
 8   city mpg           11914 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 837.8+ KB

In [43]:
cars_features.mode()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg
0,Chevrolet,Silverado 1500,2015,200.0,4.0,AUTOMATIC,Sedan,24,17

In [45]:
numeric_cols = cars_features.select_dtypes(include=[np.number])
correlation_matrix = numeric_cols.corr()

correlation_matrix

                      Year  Engine HP  Engine Cylinders  highway MPG  city mpg
Year              1.000000   0.338714         -0.040708     0.258240  0.198171
Engine HP         0.338714   1.000000          0.774851    -0.415707 -0.424918
Engine Cylinders -0.040708   0.774851          1.000000    -0.614541 -0.587306
highway MPG       0.258240  -0.415707         -0.614541     1.000000  0.886829
city mpg          0.198171  -0.424918         -0.587306     0.886829  1.000000